@import "./scss/reset";
@import "./scss/variables";
@import "./scss/mixins";

@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

body {
  background-image: $backgroundImage;
  height: 100vh;
  background-attachment: fixed;
  font-family: "Rubik Distressed", cursive;
}

p {
  font-family: "Almendra Display", cursive;
  color: #c3a672;
}
